{% extends "base.html" %}

{% block content %}

<h2>

{% if object %}

Editar Cargo

{% else %}

Nuevo Cargo

{% endif %}

</h2>

<form method="post">

{% csrf_token %}

<div class="row">

    <div class="col-md-6 mb-3">

        <label class="form-label">

            Nombre

        </label>

        {{ form.nombre }}

    </div>

    <div class="col-md-12 mb-3">

        <label class="form-label">

            Descripción

        </label>

        {{ form.descripcion }}

    </div>

    <div class="col-md-12 mb-3">

        <div class="form-check">

            {{ form.estado }}

            <label class="form-check-label">

                Activo

            </label>

        </div>

    </div>

</div>

<button class="btn btn-success">

Guardar

</button>

<a href="{% url 'empleados:cargo_list' %}"

class="btn btn-secondary">

Cancelar

</a>

</form>

{% endblock %}