/* ===================================
   SIGEPAN
   Framework Visual
=================================== */

:root{

    --sigepan-primary:#0d6efd;
    --sigepan-secondary:#343a40;
    --sigepan-success:#198754;

}

body{

    font-family: "Segoe UI", sans-serif;

}