{% extends "base.html" %}

{% block content %}

<h2>Sucursales</h2>

<a href="{% url 'configuracion:sucursal_create' %}" class="btn btn-primary mb-3">
    Nueva Sucursal
</a>

<div id="tablaSucursales"></div>

{% endblock %}

{% block js %}

<script>

const sucursales = [

{% for sucursal in sucursales %}

{
    id: {{ sucursal.id_sucursal }},
    nombre: "{{ sucursal.nombre|escapejs }}",
    direccion: "{{ sucursal.direccion|default:'-'|escapejs }}",
    telefono: "{{ sucursal.telefono|default:'-'|escapejs }}",
    encargado: "{{ sucursal.encargado|default:'-'|escapejs }}",
    estado: {{ sucursal.estado|yesno:"true,false" }},
    editar: "{% url 'configuracion:sucursal_update' sucursal.id_sucursal %}"
}{% if not forloop.last %},{% endif %}

{% endfor %}

];

console.log("Sucursales:", sucursales);

const columns = [

    {
        title: "ID",
        field: "id",
        hozAlign: "center",
        width: 90
    },

    {
        title: "Nombre",
        field: "nombre"
    },

    {
        title: "Dirección",
        field: "direccion"
    },

    {
        title: "Teléfono",
        field: "telefono"
    },

    {
        title: "Encargado",
        field: "encargado"
    },

    {
        title: "Estado",
        field: "estado",
        hozAlign: "center",

        formatter(cell){

            return cell.getValue()
                ? '<span class="badge bg-success">Activo</span>'
                : '<span class="badge bg-danger">Inactivo</span>';

        }

    },

    {
        title: "Acciones",
        hozAlign: "center",

        formatter(cell) {

            const data = cell.getRow().getData();

            return `
                <div class="d-flex justify-content-center">

                    <a
                        href="${data.editar}"
                        class="btn btn-warning btn-sm"
                    >
                        Editar
                    </a>

                </div>
           `;

        }

    }

];

SIGEPAN.table.create({

    selector: "#tablaSucursales",

    data: sucursales,

    columns

});

</script>

{% endblock %}