# ===============================
# PYTHON
# ===============================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# ===============================
# VIRTUAL ENVIRONMENT
# ===============================
venv/
.venv/
env/
**/venv/
**/.venv/

# ===============================
# DJANGO
# ===============================
*.log
db.sqlite3
media/
staticfiles/

# ===============================
# ENVIRONMENT
# ===============================
backend/.env
.env

# ===============================
# IDE
# ===============================
.vscode/
.idea/


# ===============================
# TEST CACHE
# ===============================
.pytest_cache/
.mypy_cache/


# ===============================
# OFFICE TEMP FILES
# ===============================
~$*.xlsx
~$*.docx

# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

# ===============================
# PYTHON CACHE
# ===============================
.pytest_cache/
.mypy_cache/

# ===============================
# LOGS
# ===============================
logs/*.log