{% extends "base.html" %}


{% block content %}


<div class="container mt-4">


<div class="d-flex justify-content-between align-items-center mb-3">


<h2>
Compras
</h2>


<a href="{% url 'compras:crear_compra' %}"
class="btn btn-primary">

Nueva compra

</a>


</div>



<table class="table table-striped">


<thead>

<tr>

<th>ID</th>
<th>Proveedor</th>
<th>Fecha</th>
<th>Total</th>
<th>Estado</th>
<th>Acciones</th>

</tr>

</thead>


<tbody>


{% for compra in compras %}


<tr>


<td>
{{ compra.id_compra }}
</td>


<td>
{{ compra.proveedor.nombre }}
</td>


<td>
{{ compra.fecha }}
</td>


<td>
₡ {{ compra.total }}
</td>


<td>


{% if compra.estado %}

<span class="badge bg-success">
Activa
</span>


{% else %}

<span class="badge bg-danger">
Anulada
</span>


{% endif %}


</td>


<td>


<a href="{% url 'compras:detalle_compra' compra.id_compra %}"
class="btn btn-info btn-sm">

Ver

</a>



{% if compra.estado %}

<a href="{% url 'compras:anular_compra' compra.id_compra %}"
class="btn btn-danger btn-sm">

Anular

</a>

{% endif %}



</td>


</tr>


{% empty %}


<tr>

<td colspan="6">

No existen compras registradas.

</td>

</tr>


{% endfor %}


</tbody>


</table>


</div>


{% endblock %}