# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# VIRTUAL ENVIRONMENT
# ===============================
venv/

# ===============================
# DJANGO
# ===============================
*.log
db.sqlite3
media/

# ===============================
# ENVIRONMENT
# ===============================
backend/.env

# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

# ===============================
# PYTHON CACHE
# ===============================
.pytest_cache/
.mypy_cache/

# ===============================
# LOGS
# ===============================
logs/*.log