# ===============================
# PYTHON
# ===============================
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# ===============================
# VIRTUAL ENVIRONMENT
# ===============================
venv/
.venv/
env/

# ===============================
# DJANGO
# ===============================
*.log
db.sqlite3
media/

# ===============================
# ENVIRONMENT
# ===============================
backend/.env
.env

# ===============================
# VS CODE
# ===============================
.vscode/

# ===============================
# OS
# ===============================
Thumbs.db
.DS_Store

# ===============================
# PYTHON CACHE
# ===============================
.pytest_cache/
.mypy_cache/

# ===============================
# EXCEL
# ===============================
~$*.xlsx

# ===============================
# LOGS
# ===============================
logs/*.log