{% extends "base.html" %}

{% block content %}
<h2>Roles</h2>

<a href="{% url 'security:rol_create' %}" class="btn btn-primary">
    Nuevo Rol
</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>

    {% for rol in roles %}

        <tr>

            <td>{{ rol.id_rol }}</td>

            <td>{{ rol.nombre }}</td>

            <td>
                {% if rol.estado %}
                    <span class="badge bg-success">Activo</span>
                {% else %}
                    <span class="badge bg-danger">Inactivo</span>
                {% endif %}
            </td>

            <td>
                <a href="{% url 'security:rol_update' rol.id_rol %}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}