{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

{% load ayuda_tags %}

{% boton_ayuda "Configuración" "dashboard" %}

<div class="container-fluid">

    {% include "dashboard/partials/bienvenida.html" %}

    {% if mostrar_kpis %}
        {% include "dashboard/partials/kpis.html" %}
    {% endif %}

    {% if mostrar_accesos %}
        {% include "dashboard/partials/accesos.html" %}
    {% endif %}


    {% if mostrar_kpis %}
        {% include "dashboard/partials/top_productos.html" %}
        {% include "dashboard/partials/ventas_sucursal.html" %}
    {% endif %}

    {% if mostrar_actividad %}
        {% include "dashboard/partials/actividad.html" %}
    {% endif %}

    {% if mostrar_alertas %}
        {% include "dashboard/partials/alertas.html" %}
    {% endif %}

</div>

{% endblock %}