{% load static %}

<header class="app-header navbar navbar-expand bg-white shadow-sm">

    <div class="container-fluid">

        <ul class="navbar-nav">

            <li class="nav-item">

                <a class="nav-link"
                    data-lte-toggle="sidebar"
                    href="#"
                    role="button">

                    <i class="bi bi-list"></i>

                </a>

            </li>

        </ul>

        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">

            <img src="{% static 'img/logos/sigepan-icon.png' %}"
                 width="38"
                 class="me-2">

            <strong>SIGEPAN</strong>

        </a>

        <ul class="navbar-nav ms-auto">

            <li class="nav-item d-none d-md-block">

                <span class="nav-link">

                    Empresa:
                    <strong>La Paná</strong>

                </span>

            </li>
            
            <li class="nav-item">

                <a href="{% url 'security:logout' %}"
                    class="nav-link text-danger">

                    <i class="bi bi-box-arrow-right"></i>
                    <span class="d-none d-md-inline">
                    Cerrar sesión
                    </span>
                </a>

            </li>


        </ul>

    </div>

</header>