{% load static%}

<aside class="app-sidebar bg-dark shadow" data-bs-theme="dark">

    <div class="sidebar-brand">

        <a href="{% url 'home' %}" class="brand-link">

            <img src="{% static 'img/logos/sigepan-icon.png' %}"
                width="45" 
                class="me-2">

            <span class="brand-text fw-bold">

                SIGEPAN

            </span>

        </a>

    </div>

    <div class="sidebar-wrapper">

        <nav class="mt-2">

            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">

                <!-- Inicio -->

                <li class="nav-item">

                    <a href="{% url 'home' %}" class="nav-link">

                        <i class="nav-icon bi bi-house"></i>

                        <p>Inicio</p>

                    </a>

                </li>

                <!-- Menú dinámico -->

                {% for grupo in menu %}

                <li class="nav-item {% if grupo.activo %}menu-open{% endif %}">

                    <a href="javascript:void(0);" class="nav-link" >

                        <i class="nav-icon bi {{ grupo.icono }}"></i>

                        <p>

                            {{ grupo.modulo }}

                            <i class="nav-arrow bi bi-chevron-right"></i>

                        </p>

                    </a>

                    <ul class="nav nav-treeview">

                        {% for opcion in grupo.opciones %}

                        <li class="nav-item">

                            <a href="{{opcion.url}}" class="nav-link {% if opcion.activa %}active{% endif %}">

                                <i class="nav-icon bi {{ opcion.icono }}"></i>

                                <p>
                                    {{ opcion.titulo }} 
                                </p>

                            </a>

                        </li>

                        {% endfor %}

                    </ul>

                </li>

                {% endfor %}

            </ul>

        </nav>

    </div>

</aside>